
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
header{
    display: flex;
    background-color: #7D7C7C;
    justify-content: space-between;
    padding: 5px;
    height: 10vh;
}
.imagen-header{
    border-radius: 120px;
    background-color: black;
    justify-content: start;
    margin-top: 10px;
    height: 40px;
    width: 60px;
    margin-left: 80px;
}
.titulo-principal{
    position: relative;
    left: auto;
    margin-top: 15px;
    font-size: 40px;
}
.ul-header{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin:0%;
    margin-top: 20px;
}
a{
    text-decoration: none;
    color: black;
}
.ul-header li{
    margin: 10px;
    border-radius: 40px;
    cursor: pointer;
}
nav a:hover{
    color: aliceblue;
}

@media (max-width: 425px) {
    .imagen-header{
        width: 10vh;
        margin-top: 10vh;
        margin-left: 0px;
    }
    .titulo-principal{
        margin-left: 15vw;
        text-align: center;
        margin-top: 10vh;
    }
    header{
        flex-direction: row;
        align-items: flex-start;
        height: 35vh;
    }
    .ul-header{
        flex-direction: column;
    }
}
/* comienzo del footer  */

footer {
    height: 35vh;
    background-color: black;
    background-size: cover;
    margin: auto;
    padding: auto;
}

.row1 {
    background-color: black;
    color: white;
    display: inline-block;
    vertical-align: top;
    width: 33%;
    height: 35vh;
}

.row2 {
    background-color: black;
    color: white;
    display: inline-block;
    vertical-align: top;
    width: 33%;
    height: 35vh;
}

.row3 {
    background-color: black;
    color: white;
    display: inline-block;
    vertical-align: top;
    width: 33%;
    height: 35vh;
}

h2 {
    font-size: 3vh;
    padding: 2vh;
}

.a {
    font-size: 2vh;
    color: white;
    padding: 1vh;
    text-align: left;
}

li {
    list-style-type: none;
}

p {
    font-size: 1.5vh;
    padding: 0.5vh;
}



.textomain {
    text-align: justify;
    margin: 30px;
}

img {
    width: 95%;
}

.drones h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.container{
    width: 100%;
    display: flex;
    max-width: 1100px;
}

.card{
    width: 22%;
    margin: 20px;
    border-radius: 6px;
    display: inline-block;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.card img{
    width: 100%;
    height: 210px;
}
.card .contenido{
    padding: 15px;
    text-align: center;
}
.card .contenido p{
    line-height: 1.5;
}
.card .contenido h3{
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 15px;
}

footer {
    height: 20vh;
    background-color: grey;
    background-size: cover;
}
.row1 {
    background-color: grey;
    color: white;
    display: inline-block;
    width: 33%;
}
.row2 {
    background-color: grey;
    color: white;
    display: inline-block;
    width: 33%;
}
.row3 {
    background-color: grey;
    color: white;
    display: inline-block;
    width: 33%;
}
h2 {
    font-size: 3vh;
    padding: 2vh;
}
.a {
    font-size: 2vh;
    color: white;
    padding: 1vh;
}
li { 
    list-style-type: none;
}
p {
    font-size: 1.5vh;
}
@media (max-width:700px) {
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
.navbottom {
    background-color: CCC8AA;
    height: 3vh;
}
button {
    height: 3vh;
    float: right;
    margin: auto;
    background-color: black;
    color: whitesmoke;
    border-radius: 10px;
}

img {
    max-width: 100%;
    height: auto;
    box-shadow: 0px 10px 20px #191717;
}


.h {
    text-shadow: 0px 5px 7px #7D7C7C;
}


body {
    height: auto;
    width: 100%;
    overflow-x: hidden
}

.section1 {
    font-size: 20px;
    background-color: #F1EFEF;
    padding: 1%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;



}

.section2 {
    
    background-color: #F1EFEF;
    padding: 1%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;


}

.section3 {

    background-color: #F1EFEF;
    padding: 1%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}

.section4 {

    background-color: #F1EFEF;
    padding: 1%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}

.caja {
    box-shadow: 0px 10px 20px #7D7C7C;
}

@media (max-width: 768px) {

    .section1,
    .section2,
    .section3,
    .section4 {
        padding: 2%;
    }
}

@media (min-width: 769px) {

    .section1,
    .section2,
    .section3,
    .section4 {
        padding: 1%;
    }
}
@media (max-width:1472px){
    .card{
        margin-left: 20vw;
    }
}
@media (max-width:360px){
    .card{
        width: 70%;
    }
    .card img{
        width: 100%;
        height: 120px;
    }
}
p{
    font-size: 15px;
}