body{
    font-family: sans-serif;
    margin: 0;
}
header{
    display: flex;
    background-color: #7D7C7C;
    justify-content: space-between;
    padding: 5px;
    height: 10vh;
}
.imagen-header{
    border-radius: 120px;
    background-color: black;
    justify-content: start;
    margin-top: 10px;
    height: 40px;
    width: 60px;
    margin-left: 80px;
}
.titulo-principal{
    margin: 0;
    position: relative;
    left: auto;
    margin-top: 15px;

}
nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin:0%
    margin-top: 20px;
}
a{
    text-decoration: none;
    color: black;
}
nav ul li{
    margin: 10px;
    border-radius: 40px;
    cursor: pointer;
}
nav a:hover{
    color: aliceblue;
}

footer {
    height: 20vh;
    background-color: #191717;
    background-size: cover;
    margin: auto;
    padding: auto;
}

.row1 {
    background-color: #191717;
    color: "#CCC8AA";
    display: inline-block;
    vertical-align: top;
    width: 30vw;
    height: 20vh;
}

.row2 {
    background-color: #191717;
    color: #CCC8AA;
    display: inline-block;
    vertical-align: top;
    width: 30vw;
    height: 20vh;
}

h2 {
    font-size: 3vh;
    padding: 1vh;
    color: #CCC8AA;
}

.a {
    font-size: 2vh;
    color: #CCC8AA;
    text-align: left;
}

li {
    list-style-type: none;
}

p {
    font-size: 1.5vh;
    padding: 0.5vh;
}

.navbottom {
    background-color: #191717;
    height: 3vh;
}

button {
    height: 3vh;
    float: right;
    margin: auto;
    background-color: #CCC8AA;
    color: #191717;
    border-radius: 10px;
}
.primparte {
    background-color: #61af65;
    width: 80vw;
    height: 289vh;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    font-size: 20px;
}

.textomain {
    text-align: justify;
    margin: 30px;
}

img {
    width: 80%;
}

.aside-der {
    color: rgb(255, 255, 255);
    height: 289vh;
    width: 19vw;
    background-color: #49874C;
    display: inline-block;
    position: absolute;
}

.aside-der .titulo {
    width: 80%;
    font-size: 80px;
    text-align: center;
    margin: 20px;
    color: #1B331C;
}

.cajas-drones {
    margin: 20px;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cajas-drones img {
    width: 200px;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 90px;
}